<mat-toolbar color="primary" class="siteHeader">
  <a routerLink="/" class="siteLogo">
    <img src="assets/images/siteLogoAJPng.png" alt="AJ">
    <span> IM</span>
  </a>
  <span class="example-spacer"></span>
  <span routerLink="/incident">Incident</span>
  <span class="menuSpacer">|</span>
  <button mat-stroked-button color="primary" *ngIf="!isLoogedIn()" routerLink="/login">Login</button>
  <button mat-stroked-button color="primary" *ngIf="isLoogedIn()" (click)="onLogoutClick()">Logout</button>
</mat-toolbar>