<section class="homeHero">
  <mat-card class="heroLeft">
    <p>INCIDENT MANAGEMENT SOFTWARE</p>
    <h2 class="heroHighlight">Incident Reporting Software Made Easy</h2>
    <p class="heroDesc">Easily create, manage and track your daily reports!!</p>
    <button>Get Started</button>
  </mat-card>
  <article class="heroRight">
    <img src="assets/images/favpng_track.png" alt="track report">
  </article>
</section>
<h2 class="homeHeaders">Services</h2>
<section class="cardSection">
  <mat-card>
    <img src="assets/images/clipart1271296.png" alt="report">
    <h3>Create incident reports</h3>
  </mat-card>
  <mat-card>
    <img src="assets/images/clipart2282428.png" alt="tech service">
    <h3>Assign incident tickets</h3>
  </mat-card>
  <mat-card>
    <img src="assets/images/clipart2111337.png" alt="track status">
    <h3>Track status updates</h3>
  </mat-card>
</section>