<section class="displayIncidents">
  <h2>Incident</h2>
  <app-create-incident></app-create-incident>
  <article>
    <button (click)="onOpenClick()">Open</button>
    <p>Active</p>
    <p>Resolved</p>
  </article>
  <mat-card *ngFor="let incident of allIncidents" class="eachIncident" routerLink = "/incident/{{incident._id}}">
    <p class="cardStatus">{{incident.status}}</p>
    <p class="cardDesc">{{incident.description}}</p>
    <div class="arrangeHori">
      <p>Priority - {{incident.priority}}</p>
      <p>Comments - {{incident.comments.length}}</p>
    </div>
    <div class="arrangeHori">
      <p>Created by - {{incident.createdBy}}</p>
      <p>Created on - {{incident.createdOn}}</p>
    </div>
  </mat-card>
</section>