.eachIncident {
  margin: 40px 20px;
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 0 0 2px black;
}

.eachIncident:hover {
  cursor: pointer;
}

.displayIncidents {
  max-width: 1200px;
  margin: 0 auto;
}

.arrangeHori {
  display: flex;
  justify-content: space-between;
}

.cardDesc {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}

.cardStatus {
  color: rgb(52, 94, 144);
  font-style: italic;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 32px;
}

.buttonPannel {
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.buttonPannel button {
  padding: 5px;
  font-size: 18px;
  background-color: #7aa9e6;
  border-radius: 5px;
}

.buttonPannel button:hover {
  cursor: pointer;
}

.buttonPannel span {
  font-weight: bold;
}

.noCommentAdd {
  text-align: center;
  font-size: 24px;
}