.example-container {
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.example-container > * {
  width: 100%;
}

.loginSection {
  max-width: 350px;
  text-align: center;
  margin: auto;
  margin-top: 10vh;
}

::ng-deep .mat-form-field-label {
  color: rgb(52, 94, 144) !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: black !important;
  opacity: 1 !important;
}

.loginSection h2 {
  font-size: 36px;
  color: rgb(52, 94, 144);
}

.loginSection button {
  color: rgb(220, 220, 220);
  font-size: 22px;
  background-color: rgb(52, 94, 144);
  margin: 15px auto;
  width: fit-content;
}