<section class="loginSection">
  <h2>Login</h2>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="loginData.email">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Password" type="password" [(ngModel)]="loginData.password">
    </mat-form-field>

    <button mat-stroked-button color="primary" (click)="onLoginClick()">Login</button>

    <p>New user? <a routerLink="/register">Register here!!</a></p>
  </div>
</section>