.jw-modal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.75;
  
  /* z-index must be below .jw-modal and above everything else  */
  z-index: 900;
}

.jw-modal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);

  /* z-index must be higher than .jw-modal-background */
  z-index: 1000;
  
  /* enables scrolling for tall modals */
  overflow: auto;
}

.jw-modal-body {
  padding: 20px;
  background: rgba(255, 255, 255, 0.623);

  /* margin exposes part of the modal background */
  margin: 40px;
}

.jw-modal-wrapper-close {
  display: none;
}

.jw-modal-wrapper-open {
  display: block;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}