<article class="jw-modal-wrapper-close" id="jw-modal-wrapper">
  <div class="jw-modal">
    <div class="jw-modal-body">
      <h3>Create New Incident</h3>
      <mat-form-field>
        <mat-label>Incident Description</mat-label>
        <textarea matInput rows="8" [(ngModel)]="incidentData.description"></textarea>
      </mat-form-field>
      <div class="jw-modal-body-btnrow">
        <mat-form-field class="modalPriority">
          <mat-label>Priority</mat-label>
          <mat-select (selectionChange)="changePriority($event.value)">
            <mat-option *ngFor="let priority of allPriorities" [value]="priority">
              {{priority}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button (click)="onSubmitIncident()">Submit</button>
        <button (click)="onCloseClick()">Cancel</button>
      </div>

      
    </div>
  </div>
  <div class="jw-modal-background"></div>
</article>